asgiref==3.7.2
cffi==1.16.0
cryptography==41.0.4
Django==4.2.6
mysql-connector-python==8.1.0
numpy==1.26.1
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
Pillow==10.1.0
protobuf==4.21.12
pycparser==2.21
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
